<script id="menuHomeView" type="text/html">


    <div class="weui-tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item weui-bar__item_on">
                首页
            </div>
            <div class="weui-navbar__item">
                返利对账单
            </div>
            <div class="weui-navbar__item">
                商户信息
            </div>
        </div>
    </div>
</script>

<script id="menuView"></script>