<script id="menuHomeView" type="text/html">
    <div class="footer-group-three-button clearfix">
        <a href="#shopper/home" class="weui-btn weui-btn_default">首页</a>
        <a href="#shopper/cash-back-statement" class="weui-btn weui-btn_default">返利对账单</a>
        <a href="#shopper/setting" class="weui-btn weui-btn_default">商户信息</a>
    </div>
</script>

<script id="menuView"></script>