{% extends 'base_login.html.twig' %}

{% block content %}
    <div class="wrap-form">
        <form id="loginForm" style="display: none" action="{{ path('fenglin_login_homepage') }}" method="post">
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="tel" type="text" placeholder="注册的手机号码">
                    </div>
                </div>
            </div>
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="password" type="password" placeholder="密码">
                    </div>
                </div>
            </div>

            <button class="weui-btn weui-btn_primary" style="margin-top: 30px" type="submit">登入</button>
        </form>
    </div>
    <script>
        var shopperApiKey = window.localStorage.getItem('shopper_apikey');
        var apiKey = window.localStorage.getItem('apikey');
        //alert(shopperApiKey);
        //alert(apiKey);

        if (shopperApiKey && apiKey && shopperApiKey != apiKey) {
            apiKey = shopperApiKey;
            window.localStorage.setItem('apikey', shopperApiKey);
        }

        if (shopperApiKey) {
            window.location = '/shopper?apikey=' + shopperApiKey + '#shopper/home';
        } else {
            var el = document.getElementById('loginForm');
            el.style.display = 'block';
        }
    </script>
{% endblock %}