<script id="shopperChangePasswordView" type="text/html">
    <input id="shopperId" name="shopperId" type="hidden" value="<%=id %>"/>

    <div class="weui-cells weui-cells_form weui-cells_form-my">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">登陆电话</label></div>
            <div class="weui-cell__bd">
                <input id="tel" class="weui-input text-right" type="text" pattern="[0-9]*" placeholder="登陆电话" value="<%=tel %>" disabled>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">登录密码</label></div>
            <div class="weui-cell__bd">
                <input id="openPassword" class="weui-input text-right" type="text" placeholder="登录密码" value="<%=openPassword %>" disabled>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
            <div class="weui-cell__bd">
                <input id="password" class="weui-input text-right" type="password" placeholder="新密码" value="">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">确认新密码</label></div>
            <div class="weui-cell__bd">
                <input id="retryPassword" class="weui-input text-right" type="password" placeholder="确认新密码" value="">
            </div>
        </div>

    </div>
    <div class="add-button">
        <a id="savePasswordButton" href="#" class="weui-btn weui-btn_plain-primary">确认修改</a>
    </div>
</script>