<script id="shopperHomeView" type="text/html">

    {#<div class="alert">#}
        {#<i class="weui-icon-success"></i>欢迎使用枫林返利！<br>#}
    {#</div>#}
    {#<div class="wrap-form">#}
        {#<div class="weui-cells">#}
            {#<div class="weui-cell">#}
                {#<div class="weui-cell__bd">#}
                    {#<input id="searchConsumer" class="weui-input" type="text" placeholder="输入消费者会员号码！">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<a id="searchConsumerBut  ton" href="#consumer/search" class="weui-btn weui-btn_primary" style="margin-top: 30px">搜索</a>#}
    {#</div>#}

    {% if app.request.attributes.get('_route') != 'panda_staff_homepage' %}
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h2 class="weui-media-box__title">Current Time and Timezone</h2>
                        <p class="weui-media-box__desc">{{ "now"|date("Y/m/d H:i P") }}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            {#1#}
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h2 class="weui-media-box__title">枫林会员总消费</h2>
                        <p class="weui-media-box__desc">￥<%=Math.round10(totalSpent, -2) %></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            {#2#}
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h2 class="weui-media-box__title">今日枫林会员消费金额</h2>
                        <p class="weui-media-box__desc">￥<%=Math.round10(todayConsumed, -2)%></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            {#3#}
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h2 class="weui-media-box__title">今日枫林会员实付金额</h2>
                        <p class="weui-media-box__desc">￥<%=Math.round10(todayPayable, -2)%></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            {#4#}
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h2 class="weui-media-box__title">今日返现金额</h2>
                        <p class="weui-media-box__desc">￥<%=Math.round10(todayCashback, -2)%></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            {#5#}
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h2 class="weui-media-box__title">今日枫林会员使用返利金额</h2>
                        <p class="weui-media-box__desc"><%=Math.round10(todaySpent, -2)%></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            {#6#}
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h2 class="weui-media-box__title">会员总人数</h2>
                        <p class="weui-media-box__desc"><%=Math.round10(totalConsumers, -2)%></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            {#7#}
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h2 class="weui-media-box__title">今日新增会员</h2>
                        <p class="weui-media-box__desc"><%=Math.round10(totalJoinedConsumers, -2)%></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            {#8#}
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <h2 class="weui-media-box__title">今日枫林会员消费人数</h2>
                        <p class="weui-media-box__desc"><%=todayMemberConsumed %></p>
                    </div>
                </a>
            </div>
        </div>

        {#<div class="weui-panel weui-panel_access">#}
            {#<div class="weui-panel__bd">#}
                {#<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">#}
                    {#<div class="weui-media-box__bd">#}
                        {#<h2 class="weui-media-box__title">今日推广返现金额</h2>#}
                        {#<p class="weui-media-box__desc">￥<%=Math.round10(todayCashback, -2)%></p>#}
                    {#</div>#}
                {#</a>#}
            {#</div>#}
        {#</div>#}


        {#<div class="weui-panel weui-panel_access">#}
            {#<div class="weui-panel__bd">#}
                {#<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">#}
                    {#<div class="weui-media-box__bd">#}
                        {#<h2 class="weui-media-box__title">今日枫林会员实付金额</h2>#}
                        {#<p class="weui-media-box__desc"><%=Math.round10(totalJoinedConsumers, -2)%></p>#}
                    {#</div>#}
                {#</a>#}
            {#</div>#}
        {#</div>#}
    {% else %}
        <div style="text-align: center; margin-top: 200px">
            <h1>今日新增会员</h1>
            <p><%=Math.round10(totalJoinedConsumers, -2)%></p>
        </div>
    {% endif %}
</script>