<script id="shopperHomeView" type="text/html">
    <div class="wrap-form">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="输入消费者会员号码！">
                </div>
            </div>
        </div>
        <a href="link-with-this-shopper-confirmation.html" class="weui-btn weui-btn_primary" style="margin-top: 30px">搜索</a>
    </div>
</script>