<script id="shopperLoginView" type="text/html">
    <div class="wrap-form">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" placeholder="注册的手机号码">
                </div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" placeholder="密码">
                </div>
            </div>
        </div>

        <a href="adm-confirm-the-payment.html" class="weui-btn weui-btn_primary" style="margin-top: 30px">登入</a>
    </div>
</script>