<script id="shopperQRView" type="text/html">
    <input id="shopperId" name="shopperId" type="hidden" value=""/>

    <div class="weui-panel weui-panel_access" style="background: none">

        <div class="weui-panel__bd text-center">
            <div style="font-weight: bold;">商户二维码</div>
            {#<img id="previewImage" style="width: 100%" data-src="../../resources/img/no-image-60x60.png" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQGY8TwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyWEJybVJVUEhmMzIxMDAwMHcwM2YAAgQBpt5YAwQAAAAA" alt=""><br>#}
            <img id="previewImage" style="width: 100%" data-src="../../resources/img/no-image-60x60.png" src="https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=http://<%=domain %>/panda-consumer/read-qr/<%=id%>" alt=""><br>
            http://<%=domain %>/panda-consumer/read-qr/<%=id%>
            {#<img id="previewImage" style="width: 100%" data-src="../../resources/img/no-image-60x60.png" src="https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=http://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=<%=biz %>" alt=""><br>#}
            <a href="https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=http://<%=domain %>/panda-consumer/read-qr/<%=id%>" class="weui-btn weui-btn_mini weui-btn_plain-primary" style="margin-bottom: 9px" download="qr.png">下载</a>
        </div>
    </div>
</script>