<script id="settingView" type="text/html">
    <input id="shopperId" name="shopperId" type="hidden" value="<%=id%>"/>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd text-center">
            <% if (!logo) { %>
                <img id="previewImage" data-src="../../resources/img/no-image-60x60.png" src="/resources/img/no-image-60x60.png" class="img-shopper" alt=""><br>
            <% } else { %>
                <img id="previewImage" data-src="<%=logo %>" src="/uploads/shoppers/<%=logo %>" class="img-shopper" alt=""><br>
            <% } %>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary" style="margin-bottom: 9px">上传logo</a>
        </div>
        <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
    </div>
    <div class="weui-cells weui-cells_form weui-cells_form-my">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">登录手机号</label></div>
            <div class="weui-cell__bd">
                <input id="tel" class="weui-input text-right" type="text" pattern="[0-9]*" placeholder="登录手机号" value="<%=tel%>" disabled>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">商户名：</label></div>
            <div class="weui-cell__bd">
                <input id="name" class="weui-input text-right" type="text" placeholder="输入商户名" value="<%=name%>">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">地址：</label></div>
            <div class="weui-cell__bd">
                <input id="address" class="weui-input text-right" type="text" placeholder="商户地址" value="<%=address%>">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">电话</label></div>
            <div class="weui-cell__bd">
                <input id="contactTel" class="weui-input text-right" type="text" pattern="[0-9]*" placeholder="商户联系电话" value="<%=contactTel%>">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">营业时间：</label></div>
            <div class="weui-cell__bd">
                <textarea id="schedule" class="weui-textarea" placeholder="请输入文本" rows="2"><%=shedule %></textarea>
                <!--<input class="weui-input text-right" type="text" value="周一至周五 08:00 - 22:00, 周六、周日09:00 - 22:00">-->
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd"><label class="weui-label">消费返利：</label></div>
            <div class="weui-cell__bd">
                <input id="rebate_level_1" class="weui-input text-right" type="text" placeholder="5" value="<%=rebateLevelRate%>">
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
                <span class="weui-vcode-btn">%</span>
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode" style="display: none">
            <div class="weui-cell__hd"><label class="weui-label">第一层推广返利：</label></div>
            <div class="weui-cell__bd">
                {#<input id="rebate_level_2" class="weui-input text-right" type="text" placeholder="1.5" value="<%=rebateLevel2Rate%>">#}
                <input id="rebate_level_2" class="weui-input text-right" type="text" placeholder="1.5" value="0">
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
                <span class="weui-vcode-btn">%</span>
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode" style="display: none">
            <div class="weui-cell__hd"><label class="weui-label">第二层推广返利：</label></div>
            <div class="weui-cell__bd">
                <input id="rebate_level_3" class="weui-input text-right" type="text" placeholder="0.5" value="0">
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
                <span class="weui-vcode-btn">%</span>
            </div>
        </div>

        <a class="weui-cell weui-cell_access" href="#shopper/change-description/<%=id%>">
            <div class="weui-cell__bd">
                <p>商户简介</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="#shopper/change-password/<%=id%>">
            <div class="weui-cell__bd">
                <p>修改密码</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="#shopper/qr/<%=id%>">
            <div class="weui-cell__bd">
                <p>商户二维码</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>
    <div class="add-button">
        <a id="saveShopperButton" href="#" class="weui-btn weui-btn_plain-primary">保存</a>
    </div>
    <div class="add-button">
        <a id="logoutShopperButton" href="#" class="weui-btn weui-btn-primary">登出</a>
    </div>
</script>