<script id="staffManagementListView" type="text/html">
    <div id="staffManagementList" class="weui-cells"></div>
</script>

<script id="staffManagementItemView" type="text/html">
    <div class="weui-cell__bd">
        <p>标题文字</p>
    </div>
    <div class="weui-cell__ft">
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">删除</a>
    </div>
</script>