<script id="menuHomeView" type="text/html">
    <div>
        <a href="#consumer/show-member-number" class="weui-btn weui-btn-my weui-btn_default">会员号码</a>
    </div>
</script>

<script id="menuView" type="text/html">
    <div class="footer-group-two-button clearfix">
        <a href="#/consumer/home" class="weui-btn weui-btn_default">首页</a>
        <a href="#/consumer/show-member-number" class="weui-btn weui-btn_default">会员号码</a>
    </div>
</script>

<script id="menuMemberIdView" type="text/html">
    <div>
        <a href="#/consumer/home" class="weui-btn weui-btn-my weui-btn_default">首页</a>
    </div>
</script>