<script id="adminMenuView" type="text/html">

    <div class="footer-group-two-button clearfix">
        <a href="#admin/shopper/new-shopper" class="weui-btn weui-btn_default">添加商户</a>
        <a href="#admin/shopper/inactive-reactive/account" class="weui-btn weui-btn_default">管理商户</a>
        <a href="#admin/staff-management" class="weui-btn weui-btn_default">管理员账号</a>
    </div>

</script>

<script id="menuView"></script>