<script id="statementListView" type="text/html">


    <div id="statementList">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="<%=logo ? '/uploads/shoppers/' + logo : '' %>" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%=name %></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</script>

<script id="statementItemView" type="text/html">
    <div class="weui-panel__bd">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg no-padding-top-bottom">
            <div class="weui-media-box__hd">
                <% if (typeof consumer.wechatData.headimgurl == 'undefined') { %>
                    <img class="weui-media-box__thumb circle" src="/resources/img/face-1.png" alt="">
                <% } else { %>
                    <img class="weui-media-box__thumb circle" src="<%=consumer.wechatData.headimgurl %>" alt="">
                <% } %>

                {#<img class="weui-media-box__thumb circle" src="/resources/img/face-1.png" alt="">#}
            </div>
            <div class="weui-media-box__bd">
                <div class="clearfix">
                    <div style="width: 69%; float: left;" class="dashed-line-right">
                        <p>
                            <br>

                            <% if (level == 1) { %>
                                <%=consumer.wechatData.nickname%> 消费 ￥<%=Math.round10(spent, -2)%> <br>
                                使用 返利 ￥<%=Math.round10(usedCashback,-2)%> <br>
                                实付 ￥<%=Math.round10(payable,-2)%> <br>
                                消费佣金 ￥<%=Math.round10(amount,-2)%> <br>
                            <% } %>

                            <% if (level == 2) { %>
                                <%=consumerPayable.wechatData.nickname%> 消费 ￥<%=Math.round10(spent, -2) %><br>
                                <%=consumer.wechatData.nickname%> <br>
                                拿到 推广返利 ￥<%=Math.round10(amount,-2)%> <br>
                            <% } %>

                            <% if (level == 3) { %>
                                <%=consumerPayable.wechatData.nickname%> 消费 ￥<%=Math.round10(spent, -2) %><br>
                                <%=consumer.wechatData.nickname%> <br>
                                拿到 推广返利 ￥<%=Math.round10(amount,-2)%> <br>
                            <% } %>

                            <% var dateMatch = /^([0-9\-]+?\s[\w\W]+?)$/.exec(date.date) %>
                            <% var date1 = new Date(dateMatch[1].replace(' ', 'T')) %>
                            <%=date1.toLocaleDateString() +' '+ date1.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %>
                        </p>
                    </div>
                    <div style="width: 30%; float: left; text-align: right">
                        <p>
                            返利余额 <br>
                            <b>￥<%=Math.round10(rebateBalance, -2)%></b>
                        </p>
                    </div>
                </div>
            </div>
        </a>

    </div>
</script>

<script id="statementEmptyView" type="text/html">
    <div id="statementList">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="<%=logo ? '/uploads/shoppers/' + logo : '' %>" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%=name %></h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui-panel__bd" style="text-align: center; margin-top: 20px">
            您还没有返利记录！
        </div>
    </div>
</script>