<script id="statementListView" type="text/html">


    <div id="statementList">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="<%=logo ? '/uploads/shoppers/' + logo : '' %>" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title"><%=name %></h4>
                    </div>
                </a>
            </div>
        </div>

    </div>
</script>

<script id="statementItemView" type="text/html">
    <div class="weui-panel__bd">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg no-padding-top-bottom">
            <div class="weui-media-box__hd">
                <% if (typeof consumer.wechatData.headimgurl == 'undefined') { %>
                    <img class="weui-media-box__thumb circle" src="/resources/img/face-1.png" alt="">
                <% } else { %>
                    <img class="weui-media-box__thumb circle" src="<%=consumer.wechatData.headimgurl %>" alt="">
                <% } %>

                {#<img class="weui-media-box__thumb circle" src="/resources/img/face-1.png" alt="">#}
            </div>
            <div class="weui-media-box__bd">
                <div class="clearfix">
                    <div style="width: 69%; float: left;" class="dashed-line-right">
                        <p>
                            <%=consumerPayable.wechatData.nickname%> 消费￥<%=Math.round10(payable, -2) %>
                            <br>

                            <% if (level == 1) { %>
                                <%=consumer.wechatData.nickname%> 得到 消费返利 ￥<%=Math.round10(amount, -2)%> <br>
                            <% } %>

                            <% if (level == 2) { %>
                                <%=consumer.wechatData.nickname%> 得到 一层推广返利 ￥<%=Math.round10(amount, -2)%> <br>
                            <% } %>

                            <% if (level == 3) { %>
                                <%=consumer.wechatData.nickname%> 得到 二层推广返利 ￥<%=Math.round10(amount, -2)%> <br>
                            <% } %>

                            <% var dateMatch = /^([0-9\-]+?)\s[\w\W]+?$/.exec(date.date) %>
                            <% var date1 = new Date(dateMatch[1]) %>
                            <%=date1.toLocaleDateString() %>
                        </p>
                    </div>
                    <div style="width: 30%; float: left; text-align: right">
                        <p>
                            返利余额 <br>
                            <b>￥<%=Math.round10(rebateBalance, -2)%></b>
                        </p>
                    </div>


                </div>
            </div>
        </a>
        <% if (level == 1 || level == null) { %>
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg no-padding-top-bottom">
            <div class="weui-media-box__hd">
                <% if (typeof consumer.wechatData.headimgurl == 'undefined') { %>
                    <img class="weui-media-box__thumb circle" src="/resources/img/face-1.png" alt="">
                <% } else { %>
                    <img class="weui-media-box__thumb circle" src="<%=consumer.wechatData.headimgurl %>" alt="">
                <% } %>

                {#<img class="weui-media-box__thumb circle" src="/resources/img/face-1.png" alt="">#}
            </div>
            <div class="weui-media-box__bd">
                <div class="clearfix">
                    <div style="width: 69%; float: left;" class="dashed-line-right">
                        <p>
                            <%=consumerPayable.wechatData.nickname%>
                            <br>

                            <% if (consumer.amountConsumers.length > 0 ) { %>
                                使用 消费返利￥<%=Math.round10(consumer.amountConsumers[0].totalCashBack, -2)%><br>
                            <% } else { %>
                                使用 消费返利￥0
                            <% } %>

                            <% var dateMatch = /^([0-9\-]+?)\s[\w\W]+?$/.exec(date.date) %>
                            <% var date1 = new Date(dateMatch[1]) %>
                            <%=date1.toLocaleDateString() %>
                        </p>
                    </div>
                    <div style="width: 30%; float: left; text-align: right">
                        <p>
                            返利余额 <br>
                            <b>￥0</b>
                        </p>
                    </div>


                </div>
            </div>
        </a>
        <% } %>
    </div>
</script>