<script id="memberIdView" type="text/html">
    <div class="alert" style="margin-top: 10px">
        <h1>会员号码</h1><br>
        <h3><%=memberId %></h3><br>
        <p>请出示二维码给商家</p>
        <p>
            <img src="<%=qrSrc %>" alt=""/>
        </p>
    </div>
</script>
