<script id="memberIdView" type="text/html">
    <div class="alert">
        <h1>会员号码</h1><br>
        <h3><%=memberId %></h3><br>
        <p>推荐好友消费，可以拿到返利！<br>
            好友注册时需要填入此号码！</p>
    </div>
</script>
