<script id="inactiveReactiveAccountView" type="text/html">
    <div class="wrap-form mrg-t">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="商户名">
                </div>
            </div>
        </div>
        <a href="javascript:" class="weui-btn weui-btn_primary" style="margin-top: 30px">搜索</a>
        <div class="shopper-logo">
            <div class="circle">
                <img src="/resources/img/restaurant-2.jpg" alt="">
            </div>
            <p>无锡面点王</p>
        </div>
        <a href="javascript:;" class="weui-btn weui-btn_warn">注销账号</a>
    </div>
</script>