<script id="newShopperView" type="text/html">
    <input id="shopperId" name="shopperId" type="hidden" value="0"/>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd text-center">
            <img id="previewImage" data-src="restaurant-2.jpg" src="/resources/img/restaurant-2.jpg" class="img-shopper" alt=""><br>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary" style="margin-bottom: 9px">上传</a>
        </div>
        <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
    </div>
    <div class="weui-cells weui-cells_form weui-cells_form-my">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">商户名：</label></div>
            <div class="weui-cell__bd">
                <input id="name" class="weui-input text-right" type="text" placeholder="无锡面点王" required>
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">地址：</label></div>
            <div class="weui-cell__bd">
                <input id="address" class="weui-input text-right" type="text" placeholder="无锡市曹张新村282号309室" required>
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">电话</label></div>
            <div class="weui-cell__bd">
                <input id="tel" class="weui-input text-right" type="number" pattern="[0-9]*" placeholder="1858928278" required>
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">营业时间：</label></div>
            <div class="weui-cell__bd">
                <textarea id="schedule" class="weui-textarea" placeholder="请输入文本" rows="2">周一至周五 08:00 - 22:00, 周六、周日09:00 - 22:00</textarea>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">消费返利：</label></div>
            <div class="weui-cell__bd">
                <input id="rebate_level_1" class="weui-input text-right" type="text" placeholder="5%" required>
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">第一层推广返利：</label></div>
            <div class="weui-cell__bd">
                <input id="rebate_level_2" class="weui-input text-right" type="text" placeholder="1.5%" required>
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">第二层推广返利：</label></div>
            <div class="weui-cell__bd">
                <input id="rebate_level_3" class="weui-input text-right" type="text" placeholder="0.5%" required>
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
    </div>
    <div class="add-button">
        <a id="saveShopperButton" href="#" class="weui-btn weui-btn_plain-primary">创建</a>
    </div>
</script>