<script id="refreeView" type="text/html">
    <div class="wrap-form">
        <div class="weui-cells__title"><b>请填写介绍<%=name%>给您的朋友会员号：</b></div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input id="memberId" class="weui-input" type="text" placeholder="输入朋友的会员号码，如果没有，请不用填写！">
                </div>
            </div>
        </div>
        <input id="shopperId" type="hidden" name="shopperId" value="<%=id %>">
        <a href="#" id="inviteConsumer" class="weui-btn weui-btn_primary" style="margin-top: 30px">加入</a>
    </div>
</script>