<script id="refreeConfirmView" type="text/html">
    <div class="alert">
        <i class="weui-icon-success"></i>您已加入面点王返利计划！<br>
        <a href="#consumer/refree/<%=shopperId %>">邀请朋友</a>
    </div>
</script>