<script id="refreeView" type="text/html">
    <div class="wrap-form">
        <div class="weui-cells__title"><b>请填写介绍面点王给您的朋友会员号：</b></div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="输入朋友的会员号码，如果没有，请不用填写！">
                </div>
            </div>
        </div>
        <a href="link-with-this-shopper-confirmation.html" class="weui-btn weui-btn_primary" style="margin-top: 30px">加入</a>
    </div>
</script>