<script id="cashBackStatementView" type="text/html">
    <div id="cashBackStatementList">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <h3 style="text-align: center; padding-top: 10px; padding-bottom: 10px">返利对账单</h3>
            </div>
        </div>
    </div>
</script>

<script id="cashBackStatementItemView" type="text/html">
    <div class="weui-panel__bd">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg no-padding-top-bottom">
            <div class="weui-media-box__hd">
                <% if (typeof consumer.wechatData.headimgurl == 'undefined') { %>
                    <img class="weui-media-box__thumb circle" src="/resources/img/face-1.png" alt="">
                <% } else { %>
                    <img class="weui-media-box__thumb circle" src="<%=consumer.wechatData.headimgurl %>" alt="">
                <% } %>
            </div>
            <div class="weui-media-box__bd">
                <div class="clearfix">
                    <div style="width: 69%; float: left;" class="dashed-line-right">
                        <p>
                            <%=consumerPayable.wechatData.nickname%> 消费￥<%=Math.round10(payable, -2) %>
                            <br>

                            <% if (level == 1) { %>
                                <%=consumerPayable.wechatData.nickname%> 得到 消费返利 ￥<%=Math.round10(amount, -2)%> <br>
                            <% } %>

                            <% if (level == 2) { %>
                                <%=consumerPayable.wechatData.nickname%> 得到 一层推广返利 ￥<%=Math.round10(amount, -2)%> <br>
                            <% } %>

                            <% if (level == 3) { %>
                                <%=consumerPayable.wechatData.nickname%> 得到 二层推广返利 ￥<%=Math.round10(amount, -2)%> <br>
                            <% } %>

                            得到 消费返利 ￥<%=Math.round10(amount, -2)%> <br>
                            <% var dateMatch = /^([0-9\-]+?)\s[\w\W]+?$/.exec(date.date) %>
                            <% var date1 = new Date(dateMatch[1]) %>
                            <%=date1.toLocaleDateString() %>
                        </p>
                    </div>
                    <div style="width: 30%; float: left; text-align: right">
                        <p>
                            返利余额 <br>
                            <b>￥<%=Math.round10(consumer.amountConsumers[0].totalAmount, -2)%></b>
                        </p>
                    </div>
                </div>
            </div>
        </a>

    </div>
</script>